.navbar{
    padding: 30px;
    
}

.card{
   background-color: #ECF0F1;
   padding: 30px;
   border-radius: 5px;
   width: 450px;
   margin: auto;
  
}

.formlogin{
    padding-top: 50px;
}

.cardtop{
    text-align: center;
}