.navbar{
    padding: 10px;
    border-left-width: 0px;
    
}

.card{
   background-color: #ECF0F1;
   padding: 30px;
   border-radius: 5px;
   width: 450px;
   margin: auto;
  
}

.formlogin{
    padding-top: 50px;
}

.cardtop{
    text-align: center;
}

.dropdown-menu { 
    position:relative 
 }

 .formcadastro{
    text-align: center;
    background-color: #ECF0F1;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    
}

.formperfil{
    text-align: left;
}

.formcad{
    padding-top: 50px;
}

.alinhar{
    text-align: center;
}

.lista{
    text-align: center;
    background-color: #ECF0F1;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}   

.btn-space{
    margin-right: 11px;;
}

.alinhar-direita{
    text-align: right;
}

.home{
    align-items: center;
    text-align: center;
    background-color: white;
    padding: auto;
    border-radius: 10px;
    width: auto;
}

.imagemhome{
    text-align: center;
    padding: center;
}

.left{
    float:left;
}

.leftbig{
    float:left;
    width: 390px;
    padding: 5px;
}
.right{
    float:right
    
}

.formcadastrouni{
    text-align: center;
    background-color: #ECF0F1;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    width: 70%;
    
}
.fieldset{
     display: inline-block; position: absolute;
     }

     .form-row{display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        margin-right:-5px;
        margin-left:-5px}
    .form-row>.col,.form-row>[class*=col-]{padding-right:5px;padding-left:5px}


    .mright{
        margin-left: auto;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .numAntrop{
        padding-top: 50px;
        border-width: 3px;
        border-style: solid;
        border-color: #2FA4E7;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 50px;
       
    }
    
    .cardEntClinica{
        padding-top: 50px;
        border-width: 3px;
        border-style: solid;
        border-color: #2FA4E7;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 50px;
    }
    
    .formcadconsulta{
        text-align: center;
        background-color: #ECF0F1;
        padding: 30px;
        border-radius: 10px;
        width: 450px;
        margin: auto;
        width: 70%;
    }

    .imagemlogo{
        size:15px;
    }

    .sizeletra{
        font-size: 20px;
    }